/*----------------- BARRA NAVEGACION ---------------------------- */
.barra-nav{

	height: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #16516D;

}

.menu-nav{

	display: inline-block;
	/*Este atributo permite definir si van los puntos de la lista o no */
	list-style-type: none;
	
}

.menu-nav li{

	display: inline-block;
	text-align: center;
	margin: 0 100px 0 0;
	background-color: #44738a;
	padding: 5px; 
}

.menu-nav li a{
	color: white;
	padding: 2px 7px 2px 7px;
	/*Define si el texto es subrayado o no */
	text-decoration: none;
}

.menu-nav li a:hover{

	color: blue;

}

/*----------------- CAJA PRESENTACION ---------------------------- */

.caja-presentacion{

	background-color: #16516D;
	margin-top: 10px;
	overflow: hidden;
	height: 500px;
	color: white;

}

.caja1{

	float: left;
	width: 500px;
	margin: 50px; 
	padding: 10px;
	/*Falta justificar el texto */
	

}

.caja2{

	float: right;
	/*Revisar en futuro si genera problemas */
	width: 500px;
	margin: 50px;
	text-align: center;
	/*Sigue la foto*/
}

.foto-perfil{

	width: 300px;
	display: block;
	margin: auto;
}

.imagen-perfil{

	width: 100%;
	border-radius: 85px;

}

.imagen-logo{

	width: 20px;
	height: 20px;
	border: white 1px solid;
	background-color: white;
	border-radius: 45px; 
}

table{

	margin-top: 10px;
	background-color: #16516D;
	width: 100%;
	text-align: center;
}

tr{
	display: inline-block;
	margin: 10px;
	width: 300px;
	
}

td{
	background-color: #44738a;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
}

.imagen-proyecto{

	width: 250px;
	height: 200px;
	border: 2px solid white;
	border-radius: 20px;
}

td p{
	text-align: justify;
}

td h2{
	text-align: left;
}

body{
	color: white;
}

